.example-spacer {
    flex: 1 1 auto;
}

.user-logged {
    display: flex;
    align-items: center;
    
    span {
        padding: 0 1rem;
    }   
}

.mat-toolbar-row {
    @media (max-width: 400px) {
        display: flex;
        flex-flow: row wrap;
        height: 160px;
        justify-content: center;
    }
}
