/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background:#303030 }

.snackbar-success{
    background-color: #388E3C;
    color: #fff;
}

.snackbar-error {
    background-color: #FF5252;
    color: #fff;
}